* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(library-bc.jpg);
  background-size: cover;
}

h1 {
  padding: 40px;
  font-size: 50px;
}

table {
  width: 1000px;
  table-layout: fixed;
  border-collapse: separate; /* important */
  border-spacing: 0 10px; /* espace vertical entre les lignes */
}

tbody {
  border: 3px solid rgb(36, 35, 35);
  text-align: center;
}

tbody tr {
  height: 50px;
  outline: 0.5px solid rgb(188, 188, 188);
  border-radius: 15px;
  overflow: hidden;
}

tbody td {
  background: #fff;
}

tbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

thead th:last-child,
td.actions {
  width: 125px;
}

td.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 6px;
  width: 170px;
  height: 50px;
  padding-right: 42px;
}

.createbook {
  width: 200px;
  height: 45px;
  background-color: rgb(213, 213, 213);
  border-radius: 15px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 700;
}

.createbook:hover {
  background-color: rgb(125, 184, 243);
}

.createbook:active {
  background-color: rgb(165, 207, 249);
}

/* DIALOG */

dialog {
  width: 600px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: rgb(228, 228, 228);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4); /* voile sombre */
  backdrop-filter: blur(2px); /* effet de flou */
}

fieldset {
  border: none;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-title {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

p label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
}

input[type="text"],
input[type="number"] {
  display: block;
  margin-bottom: 12px;
  padding: 4px 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 400px;
  height: 22px;
}

input[type="radio"] {
  margin-bottom: 40px;
  padding: 6px 8px;
}

fieldset {
  display: flex;
  gap: 30px;
}

.closedialog,
.validdialog {
  width: 200px;
  height: 45px;
  background-color: rgb(213, 213, 213);
  border-radius: 15px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 700;
}

.validdialog:hover {
  background-color: rgb(125, 184, 243);
}

.validdialog:active {
  background-color: rgb(165, 207, 249);
}

.closedialog:hover {
  background-color: rgb(225, 58, 58);
}

.closedialog:active {
  background-color: rgb(97, 23, 23);
}

.erase-button {
  background-color: rgb(225, 58, 58);
  width: 70px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.erase-button:hover {
  background-color: rgb(173, 19, 19);
}

.erase-button:active {
  background-color: rgb(97, 23, 23);
}

.edit-button {
  background-color: rgb(213, 213, 213);
  width: 95px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.edit-button:hover {
  background-color: rgb(125, 184, 243);
}

.edit-button:active {
  background-color: rgb(165, 207, 249);
}
